{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charts JS</title>

    <!--
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css">
    -->   

    <link rel="stylesheet" href="{% static '/bootstrap_5.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/leaflet/leaflet.css' %}">
    <!--draw plugin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css">

</head>
<body>
    <div class="container">
        <!-- NavBar -->
        <div class="row border">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand">Sensegrass Charts</a>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
        <!-- End NavBar -->
        <!----><!----><!----><!----><!-- Main Content --><!----><!----><!----><!----><!----><!---->

        <div class="row border" style="height: 550px">

            <!----><!----><!----><!-- Map --><!----><!----><!----><!---->
            <div class="col-md-8 border" id="map_id1">
                <div class="container">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
            <!----><!----><!----><!-- End Map --><!----><!----><!----><!---->

            <!----><!----><!----><!-- Charts --><!----><!----><!----><!---->
            <div class="col-md-4 border">
                <canvas id="mychart" ></canvas>
            </div>
            <!----><!----><!----><!-- End Charts --><!----><!----><!----><!---->

        </div>
        <!----><!----><!-- End Main Content --><!----><!----><!----><!----><!----><!----><!---->
    </div>
</body>
<!--
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/leaflet/leaflet.js"></script>
<script src="lib/leaflet/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="js/main.js"></script>
-->

<script src="{% static '/leaflet/leaflet.js' %}"></script>
<script src="{% static '/leaflet/jquery-3.5.1.min.js' %}"></script>
<script src="{% static '/bootstrap_5.0/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="{% static '/leaflet/leaflet_main.js' %}"></script>
<script src="{% static '/leaflet/charts_main.js' %}"></script>
</html>