{% load static %}
 
<!DOCTYPE html>
<html lang="en">
 
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
 
  <title>Sensegrass</title>
 
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static '/bootstrap_5.0/css/bootstrap.min.css' %}">
 
</head>
 
<body>
 
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Sensegrass</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">Welcome</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 
  <!-- Page Content -->
  <div class="container">
    <div class="row">
 
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">GIS product</h1>
        <p class="lead">Agricultural Indices</p>
 
        {% block content %}

        {% endblock %}

        <ul class="list-unstyled">
            <li>Developed by Sensegrass</li>
            <li>2020</li>
          </ul>
        </div>
      </div>
    </div>
   
    <!-- Bootstrap core JavaScript -->
    <script src="{% static '/leaflet/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static '/bootstrap_5.0/js/bootstrap.bundle.min.js' %}"></script>
   
  </body>
   
  </html>