{% extends 'base.html' %}

{% block content %}

<form action="any" method ="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type ='file' name = 'doc'>
  <select name = "dropdown">
    <option value = "NDVI">Normalized Difference Vegetation Index</option>
    <option value = "NDMI">Normalized Difference Moisture Index</option>
    <option value = "OSAVI">Optimized Soil Adjusted Vegetation Index</option>
  </select>
  <button type = 'submit'>Upload Details</button>
  <br>
</form>


{{ your_map|safe }}
      
{% endblock %}   