{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gis product</title>

    <link rel="stylesheet" href="{% static '/bootstrap_5.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/leaflet/leaflet.css' %}">
    <!--draw plugin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css">

</head>
<body>
    <div class="container">
        <!-- NavBar -->
        <div class="row border">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand">Agricultural Indices</a>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
        <!-- End NavBar -->
        <!----><!----><!----><!----><!-- Main Content --><!----><!----><!----><!----><!----><!---->

        <div class="row border" style="height: 550px">

            <!----><!----><!----><!-- Map --><!----><!----><!----><!---->
            <div class="col-md-8 border" id="map_id2"></div>
            <!----><!----><!----><!-- End Map --><!----><!----><!----><!---->

            <!----><!----><!----><!-- Charts --><!----><!----><!----><!---->
            <div class="col-md-4 border">
                
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#">Statistics</a>
                    </nav>
                </div>

                <div style="height: 300px">
                    <canvas id="mychart" ></canvas>
                </div>

            </div>
            <!----><!----><!----><!-- End Charts --><!----><!----><!----><!---->

        </div>
        <!----><!----><!-- End Main Content --><!----><!----><!----><!----><!----><!----><!---->
    </div>
    
</body>
<script type="text/javascript">
    var data1 = JSON.parse("{{data|escapejs}}");
    /*
    var dataNode2 = document.getElementById('neatdata');
    for(var x in data1){ 
        dataNode2.innerHTML+=x+' : '+data1[x]+'<br><br>'; 
    }
    */  
    //console.log(data1.name) 
</script>

<script type="text/javascript">
    var MEDIA_URL = "{{MEDIA_URL|escapejs}}";	
</script>

<script src="{% static '/leaflet/leaflet.js' %}"></script>
<script src="{% static '/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static '/bootstrap_5.0/js/bootstrap.min.js' %}"></script>
<!--
<script src="{% static '/leaflet/plotty.js' %}"></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.5.0/fetch.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="//d3js.org/d3.v4.min.js"></script>
<script src="//npmcdn.com/geotiff@0.3.6/dist/geotiff.js"></script>
<script src="https://ihcantabria.github.io/Leaflet.CanvasLayer.Field/dist/leaflet.canvaslayer.field.js"></script>
<script src="https://cdn.jsdelivr.net/npm/raster-marching-squares@0.1.3/build/raster-marching-squares.min.js"></script>
<script src="{% static '/leaflet/main.js' %}"></script>
<script src="{% static '/leaflet/test.js' %}"></script>
</html>
