{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sensegrass</title>

    <link rel="stylesheet" href="{% static '/bootstrap_5.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/leaflet/leaflet.css' %}">
    <!--draw plugin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>

    
</head>

<body>

    <div class="container">

        <!--Nav Bar-->
        <div class="row border" style="background-color: darkgrey;">

            <div class="col-md-12">

                <nav class="navbar navbar-expand-lg navbar-light" style="background-color: darkgrey;">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">Sensegrass</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">GIS Product</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Agricultural Indices</a>
                          </li>
                        </ul>
                        <span class="navbar-text">
                          Development Purpose
                        </span>
                      </div>
                    </div>
                  </nav>
                
            </div>

        </div>
        <!-- End Nav Bar-->

        <!--Main Content-->
        <div class="row border" style="height: 575px;">

            <!--Sidebar-->
            <div class="col-md-3 border">

                <!--Accordion-->
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Filters
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <!--Form-->
                          <form action="indices" method="post" id="form_id" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                              <label for="indice_list">Select Indice/s</label><br>
                                  <select multiple class="form-control" id="indice_list" name="indices">
                                    <option  value = "NDVI">NDVI</option>
                                    <option  value = "NDMI" disabled="disabled">NDMI</option>
                                    <option  value = "OSAVI" disabled="disabled">OSAVI</option>
                                    <option  value = "NDWI" disabled="disabled">NDWI</option>
                                    <option  value = "GCI" disabled="disabled">GCI</option>
                                  </select>
                            </div>
                            
                            <div class="mb-3" style="display: none;">
                              <label for="user_aoi" class="form-label">Area of Interest</label>
                              <input type="text" class="form-control" id="user_aoi" name="aoi" placeholder = "Automatic Input" > 
                            </div>
                            
                            <br>
                            <button type="submit" id = "sub_id" class="btn btn-success">Submit</button>
                          </form>
                          <!--End Form-->
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Instructions
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>Please draw your Area of Interst</strong>
                          <h6>Make sure that your AOI is less than 1000 hectares</h6>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <!--End Accordion-->
                  <br>
                  <h6 style="font-size:medium; background-color:lightgrey"> Mouse Location : <span id="mouse_loc" style="font-size: medium;"></span></h6>
            </div>
            <!--End Sidebar-->

            <!--Map-->
            <div  class="col-md-9 border" id="map_id">


            </div>
            <!--End Map-->

        </div>
        <!--End Main Content-->

    </div>

</body>

<script type="text/javascript">var MEDIA_URL = "{{MEDIA_URL}}";</script>

<script src="{% static '/leaflet/leaflet.js' %}"></script>
<script src="{% static '/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static '/bootstrap_5.0/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
<script src="{% static '/leaflet/leaflet_main.js' %}"></script>

</html>
